<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calculator</title>
    <link rel="stylesheet" href="css/stylesheet.css">

</head>
<body>

<div id="calculator">
    <div class="calculatorRow" id="typeField" >
        <p id="numberField" ></p>
    </div>
    <div class="calculatorRow" >
        <button class="calculatorKey" onclick="empty();" >C</button>

    </div>
   <div class="calculatorRow" >
        <button class="calculatorKey" onclick="addToCalc(7);">7</button>
        <button class="calculatorKey" onclick="addToCalc(8);">8</button>
        <button class="calculatorKey" onclick="addToCalc(9);">9</button>
        <button class="calculatorKeyFullRight" onclick="addToCalc('/')">/</button>
   </div>
    <div class="calculatorRow">
        <button class="calculatorKey" onclick="addToCalc(4);">4</button>
        <button class="calculatorKey" onclick="addToCalc(5);">5</button>
        <button class="calculatorKey" onclick="addToCalc(6);">6</button>
        <button class="calculatorKeyFullRight" onclick="addToCalc('*')">*</button>
    </div>
    <div class="calculatorRow">
        <button class="calculatorKey" onclick="addToCalc(1);">1</button>
        <button class="calculatorKey" onclick="addToCalc(2);">2</button>
        <button class="calculatorKey" onclick="addToCalc(3);">3</button>
        <button class="calculatorKeyFullRight" onclick="addToCalc('-')">-</button>
    </div>
    <div class="calculatorRow">
        <button class="calculatorKey" onclick="addToCalc(0);">0</button>
        <button class="calculatorKey" onclick="addToCalc('.')">.</button>
        <button class="calculatorKey" onclick="calc()">=</button>
        <button class="calculatorKeyFullRight" onclick="addToCalc('+')">+</button>
    </div>



</div>
<p id="doneBy">Designed by Silvan Knecht</p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script rel="javascript" src="js/javascript.js"></script>
</body>
</html>
